
.heading {
    font-size: 4em;
    color: #333;
    height: 33vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text {
    max-width: 80vh;
}

.terminal-underscore {
    display:inline-block;
    position:relative;
    top: -0.14em;
    left: 10px;
}

.hidden {
    opacity: 0;
}

.content {
    margin: 0 5em;
}

.contact {
    display: grid;
    text-align: center;
    gap: 1em;
    align-items: center;
    justify-items: center;
}

.about {
    padding-bottom: 2em;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .contact {
        grid-auto-flow: column;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: max-content max-content;

    }
}
.contact a {
    display: contents;
}

.contact img {
    object-fit: cover;
    width: 80%;
    max-width: 300px;
    max-height: 100%;
}

small {
    margin-top: 2em;
}

body {
    background-color: #f3f3f3;
    font-family: Consolas, monospace;
}